<div class="card">
    <img [src]="illustration.imageSuffix+illustration.images[0]+illustration.imageExtention" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title font-weight-bolder">{{illustration.title}}</h5>
        <hr>
        <p class="card-text text-justify">{{illustration.description}}.</p>
        <!-- <a [href]="illustration.collaborator.instagram" class="card-link text-reset" target="_blank"><i class=" fab fa-instagram fa-2x "></i></a>&nbsp; -->
        <!-- <a [href]="illustration.collaborator.behance" class="card-link text-reset" target="_blank"><i class="fab fa-behance fa-2x "></i></a> -->

        <button (click)="showIllustrationDetails();" type="button" class="btn btn-outline-primary btn-block ">Ver más...</button>
    </div>
</div>