<div class="card">
    <img [src]="illustration.path+illustration.cover+illustration.imageExtention" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title font-weight-bolder">{{illustration.title}}</h5>
        <hr>
        <!-- <p class="card-text text-center text-wrap">{{illustration.description}}.</p> -->
        <p class="card-text text-center lead">{{illustration.description}}.</p>
        <button (click)="showIllustrationDetails();" type="button" class="btn btn-outline-primary btn-block ">Ver más...</button>
    </div>
</div>