<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <img class="iso-animation pt-3" src="assets/img/system/isotopoLoopT.png" alt="Loading..." role="status" *ngIf="waitData">
        <div class="text-center animated fadeIn" *ngIf="notFoundData"><i class="fas fa-exclamation-triangle fa-2x"></i><br>No se consiguio ningun proyecto con el identificador seleccionado, favor intente nuevamente</div>
        <div class="text-center animated fadeIn" *ngIf="errorData">Error!</div>
    </div>

    <div [hidden]="waitData" [ngClass]="{'animated fadeIn': !waitData}">
        <div *ngIf="item">
            <h3 class="text-center">{{item.title}}</h3>
            <hr>

            <div class="container-fluid rounded" style="background-color: dimgray;">
                <div id="carouselExampleIndicators" class="carousel slide animated fadeIn" data-ride="carousel">

                    <!-- Listado de link para imagenes -->
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" *ngFor="let image of item.images; let i = index" [attr.data-slide-to]="i" [ngClass]="{'active': i === 0}"></li>
                    </ol>

                    <!-- Listado de imagenes -->
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let image of item.images; let i = index" [ngClass]="{'active': i === 0}">
                            <app-carousel-image [waitParent]="waitData" (waitLoaded)="imgDefaultLoaded()" [detailParentData]="item" [image]="image" [maxHeight]="maxHeight"></app-carousel-image>
                            <!-- <app-carousel-image [image]="image" [title]="item.title" [imageSrc]="getImagePath(image)" [maxHeight]="maxHeight" [waitParent]="waitData" (waitLoaded)="imgDefaultLoaded()"></app-carousel-image> -->
                        </div>
                    </div>

                    <!-- Pestañas de navegacion -->
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>
            <hr>
            <blockquote class="blockquote mt2">
                <!-- Descripcion -->
                <p class="mb-0 text-justify">{{item.description}}</p>

                <!-- Colaboradorres -->

                <div *ngIf="item.collaborators.length > 0">
                    <!-- Si existen colaboradores -->
                    <footer class="blockquote-footer mt-1" *ngFor="let collaborator of item.collaborators">
                        {{collaborator.name}}

                        <a [href]="collaborator.instagram" class="text-reset" target="_blank">
                            <span class="fa-stack" style="vertical-align: top;">
                        	        <i class="far fa-circle fa-stack-2x"></i>
                        	        <i class="fab fa-instagram fa-stack-1x"></i>
                        	    </span>
                        </a>

                        <a [href]="collaborator.behance" class="text-reset" target="_blank">
                            <span class="fa-stack" style="vertical-align: top;">
                        	        <i class="far fa-circle fa-stack-2x"></i>
                        	        <i class="fab fa-behance fa-stack-1x"></i>
                        	    </span>
                        </a>
                    </footer>
                </div>
            </blockquote>
        </div>
    </div>
</div>