<div class="d-flex flex-wrap align-items-center justify-content-center">

    <span class="text-white position-absolute" *ngIf="wait">
                            <div class="spinner-grow text-light" role="status" style="width: 3rem; height: 3rem;"></div>
                        </span>

    <img [src]="imageDefault" class="img-fluid d-block mx-auto my-auto" *ngIf="showDefault" alt="...">

    <span class="text-white position-absolute text-center animated fadeIn" *ngIf="error">
                            <i class="fas fa-exclamation-triangle fa-2x"></i><br>
                            Not Found
                        </span>
</div>

<img [src]="imageSrc" [id]="title+image" class="img-fluid mx-auto my-auto d-none" [ngClass]="{'d-block animated fadeIn': !showDefault}" [alt]="title+image" (load)="showImage()" (error)="showError()">