<nav class="navbar navbar-expand-lg navbar-light shadow animated fadeIn" style="background-color: #facd4f;">
    <a class="navbar-brand d-block d-sm-block d-md-block d-lg-none" routerLink="inicio">
        <img src="assets/img/system/navbaricon.png" width="30" height="30" class="rounded d-inline-block align-top" alt="">
        <span class="font-weight-bold">
            {{author}}
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="inicio">Inicio</a>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="">Identidades</a>
            </li> -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="ilustraciones">Ilustraciones</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="animaciones">Animaciones</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="tresd">3D</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="contacto">Contacto</a>
            </li>
        </ul>
    </div>
</nav>