<div class="mt-3 animated fadeIn fast">
    <h1 class="text-center">{{tittle}}</h1>
    <hr>
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" *ngIf="waitData"></div>
        <div class="text-center animated fadeIn" *ngIf="notFoundData"><i class="fas fa-exclamation-triangle fa-2x"></i><br>No se encontraron imagenes</div>
        <div class="text-center animated fadeIn" *ngIf="errorData">Error!</div>
    </div>
    <div class="card-columns animated fadeIn">
        <app-ilustracion-tarjeta [waitParent]="waitData" [illustration]="illustration" *ngFor="let illustration of illustrations" (waitParentEvent)="waitEvent($event)" (illustrationDetails)="showIllustrationDetails($event)"></app-ilustracion-tarjeta>
    </div>
</div>