<!-- <div class="container fixed-bottom"> -->
<p class="text-center mt-5">© {{anio}} Todos los derechos reservados
    <strong>{{author}}</strong>
</p>

<div class="text-center mb-2">
    <a [href]="instagram" class="text-reset" target="_blank">
        <span class="fa-stack" style="vertical-align: top;">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
    </a>

    <a [href]="behance" class="text-reset" target="_blank">
        <span class="fa-stack" style="vertical-align: top;">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-behance fa-stack-1x fa-inverse"></i>
            </span>
    </a>
</div>